/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  backface-visibility: hidden;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --fontWeightOne: 700;
}

body {
  background-color: #f4f4f4;
  color: #303030;
  font-family: Artic Fox\ 08,sans-serif;
  font-size: 14px;
  letter-spacing: .03em;
  line-height: 1.5;
  text-rendering: geometricPrecision;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

strong {
  font-weight: var(--fontWeightOne);
}

h2 {
  line-height: 1.1em;
  margin: 1em 0 0;
}

h2:first-child {
  margin-top: 0;
}

.teaserRoot {
  padding: 0 20px;
  position: relative;
  border: 1px solid black;
}

.teaserRoot {
  .shortDescription {
    font-size: 24px;
    line-height: 36px;
    margin-top: 5px;
    display: block;
    background-color: purple;
  }
}

#productFeatures {
  margin-top: 50px;
  background-color: lime;
  .featuresDescription {
    margin: 0;
    padding: 0 0 30px;
    background-color: orange;
  }
  .features {
    padding: 0;
    margin-top: 15px;
    list-style: none;
    li {
      position: relative;
      padding-left: 20px;
      margin-top: 15px;
    }
     &li:before {
      position: absolute;
      top: 7px;
      left: 0;
      display: inline-block;
      width: 6px;
      height: 6px;
      margin: 2px 15px 2px 0;
      background-color: #959595;
      border-radius: 50%;
      content: "";
    }
  }
}

.teaserRoot {
  .descriptionTitle {
    text-transform: uppercase;
    padding: 20px 0;
    display: block;
    font-weight: var(--fontWeightOne);
    background-color: red;
  }
  .descriptionContent {
    padding: 0 0 50px;
    border-bottom: 1px solid #d6d6d6;
    background-color: lightblue;
  }
  .descriptionSpec, .descriptionText .descriptionItem {
    line-height: 28px;
    background-color: lightpink;
  }
}



.descriptionRoot {
  border-top: 1px solid #d6d6d6;
}

.description .descriptionText {
  line-height: 22px;
}

.descriptionSpec {
  margin-top: 20px;
}

.pdpArea {
  margin-top: 40px;
}

.article {
  align-items: center;
  border: none;
    // Picture Frame
    .articleMedia {
      width: 66%;
      position: relative;
      z-index: 1;
      display: block;
      overflow: hidden;
      .pictureRoot {
        position: relative;
        display: block;
        overflow: hidden;
      }
    }
    // Text
    .articleContent {
      opacity: 1;
      width: 50%;
      padding: 0 20px 0 30px;
      & >*+* {
        margin-top: 20px;
      }
      .articleTitle {
        text-align: left;
        font-size: 30px;
      }
      .articleExcerpt {
        font-size: 20px;
        line-height: 28px;
        font-family: 'Adobe Caslon W01,serif';
      }
    };
  }

.footerRoot {
  padding: 80px 25px;
  text-align: left;
  background-color: #e8e7e6;
  .footerContainer {
  max-width: 1185px;
  padding: 0 0 0 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  .footerColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    .footerTitle {
      position: relative;
      display: block;
      margin: 0;
      font-size: 16px;
      font-weight: var(--fontWeightOne);
      text-transform: uppercase;
      user-select: none;
    }
    .footerLinks {
      padding: 0;
      margin:  0;
      margin-top: 10px;
      list-style: none;
      .footerLink {
        padding: 0;
        border-bottom: none;
        display: flex;
        color: #303030;
        text-decoration: none;
        .linkRoot {
          position: relative;
          display: inline-flex;
          align-items: center;
          color: #303030;
          text-decoration: none;
        }
      }
    }
    }
  }
}